//color
$white:     #FFFFFF;
$yellow:    #FFE180;
$green-100: #EAF0ED;
$green-200: #8DA291;
$green-300: #3F5D45;

//font
$font-sm:  16px;
$font-lg:  20px;
$font-xl:  24px;
$font-xxl: 30px;

$fc-primary: $green-300;
$fc-secondary: $white;
$fc-tertiary: $green-200;

//icon
$icon-color: $green-300;