$grid-num: 12;
$gutter-width: 20px;

.container {
  padding-right: 42px;
  padding-left: 42px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter-width / 2);
  margin-left: -($gutter-width / 2);
}

%col {
  position: relative;
  min-height: 1px;
  padding-left: ($gutter-width / 2);
  padding-right: ($gutter-width / 2);
}

@for $i from 1 to $grid-num + 1 {
  .col-#{$i} {
    @extend %col;
    max-width: 100% * ($i / $grid-num);
    flex: 0 0 (100% * ($i / $grid-num));
  }
}

@media (max-width: 767) {
  @for $i from 1 to $grid-num + 1 {
    .col-#{$i} {
      max-width: 100%;
      flex: 0 0 100%;
    }
  }
}