.banner {
  padding: 20px 0;

  &__bg {
    height: 420px;
  }

  &__container {
    left: 0;
    top: 0;
  }

  &__title {
    margin-left: 80px;
  }

  &__content-container {
    padding: 90px 0;
    writing-mode: vertical-rl;
    color: $fc-tertiary;
    line-height: 2;
  }

  &__content {
    margin-left: 30px;

    &:last-child {
      margin-left: 0;
    }
  }
}