.card {
  &__picture-container {
    height: 315px;
  }

  &__tag {
    padding: 10px;
    writing-mode: vertical-lr;
    letter-spacing: 5px;
    left: 8%;
  }

  &__like {
    top: 5%;
    right: 8%;
    cursor: pointer;
  }

  &__info {
    height: 56px;

    &-name {
      width: 55%;
      font-weight: normal;
      border-right: 1px solid $green-100;
      border-left: 1px solid $green-100;
    }

    &-price {
      width: 45%;
      border-right: 1px solid $green-100;
    }
  }
}