.footer {
  &__logo-icon {
    margin-right: 20px;
  }

  &__logo-text {
    margin-bottom: 115px;
  }

  &__icon-media {
    width: 32px;
    margin-right: 8px;
  }

  &__info {
    font-family: "Helvetica Neue, Regular";
    line-height: 1.5;
  }

  &__copyRight {
    font-family: "Times, Regular";
  }
}