.bg-primary {
  background-color: $green-100;
  color: $green-300;
}

.bg-secondary {
  background-color: $green-300;
  color: $green-100;
}

.bg-tertiary {
  background-color: $yellow;
  color: $green-300;
}